@font-face {
  font-family: 'property-book';
  src:  url('property-book.eot?bwz65z');
  src:  url('property-book.eot?bwz65z#iefix') format('embedded-opentype'),
    url('property-book.ttf?bwz65z') format('truetype'),
    url('property-book.woff?bwz65z') format('woff'),
    url('property-book.svg?bwz65z#property-book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="pb-"], [class*=" pb-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'property-book' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pb-trashcan:before {
  content: "\e901";
}
.pb-dots-light:before {
  content: "\e905";
}
.pb-Close-Window:before {
  content: "\e90a";
}
.pb-Restore-Window:before {
  content: "\e917";
}
.pb-Dashboard:before {
  content: "\e937";
}
.pb-Information:before {
  content: "\e93d";
}
.pb-Support:before {
  content: "\e946";
}
.pb-Sand-watch-2:before {
  content: "\e959";
}
.pb-Facebook:before {
  content: "\e973";
}
.pb-Cash-Register:before {
  content: "\e9a3";
}
.pb-Coding:before {
  content: "\e9bc";
}
.pb-Internet:before {
  content: "\e9c2";
}
.pb-Key:before {
  content: "\ea04";
}
.pb-Start-2:before {
  content: "\ea1f";
}
.pb-Geo21:before {
  content: "\ea25";
}
.pb-Add:before {
  content: "\ea2f";
}
.pb-Cursor:before {
  content: "\ea39";
}
.pb-Yes:before {
  content: "\ea49";
}
.pb-Pen-2:before {
  content: "\eaa0";
}
.pb-Home1:before {
  content: "\eafb";
}
.pb-Repeat-3:before {
  content: "\eb37";
}
